page-modal {
  ion-textarea {
    border: 1px solid #aaa;

    textarea.text-input {
      margin-left: 8px;
      width: calc(100% - 16px);
    }
  }

  .avatar {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 50%;
    border: 2px solid #e4e4e4;
  }
}
