<ion-header>
  <ion-navbar>
    <ion-title>
      Home
    </ion-title>
  </ion-navbar>
  <ion-toolbar>
    <ion-segment [(ngModel)]="viewMessageType">
      <ion-segment-button value="received">
        Received
      </ion-segment-button>
      <ion-segment-button value="sent">
        Sent
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <div *ngIf="viewMessageType == 'received'">
    <ion-list>
      <ion-card *ngFor="let message of messagesReceivedAsync | async">
        <ion-card-content>
          {{message.message}}
        </ion-card-content>
        <ion-row>
          <ion-col>
            <button ion-button icon-left clear small>
              <ion-icon name="undo"></ion-icon>
              <div>Reply</div>
            </button>
          </ion-col>
          <ion-col center text-center>
            <ion-note>
              11h ago
            </ion-note>
          </ion-col>
        </ion-row>
      </ion-card>
    </ion-list>
  </div>
  <div *ngIf="viewMessageType == 'sent'">
    <ion-list>
      <ion-card *ngFor="let message of messagesSentAsync | async">
        <ion-card-content>
          {{message.message}}
        </ion-card-content>
        <ion-row>
          <ion-col>
            <button ion-button icon-left clear small>
              <ion-icon name="undo"></ion-icon>
              <div>Reply</div>
            </button>
          </ion-col>
          <ion-col center text-center>
            <ion-note>
              11h ago
            </ion-note>
          </ion-col>
        </ion-row>
      </ion-card>
    </ion-list>
  </div>
</ion-content>
